* {
  box-sizing: border-box;
}
.header{
  background-color: #282c34;
  padding-left: 5%;
  padding-right: 5%;
  height: 4vw;
  display: flex;
  align-items: center;
}
.header h1{
  color: white;
  margin: 0;
}

.albums-list{
  padding: 5%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.album{
  width: 30%;
  height: 15vw;
  background-color: gainsboro;
  margin-bottom: 3%;
  padding: 2%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.album h2{
  font-size: 2.2vw;
  margin: 0;
}


.slider {
  width: 90%;
  margin: auto;
  height: 40vw;
  display: flex;
  overflow-x: scroll;
  padding-top: 5%;
}

