.header{
  background-color: #282c34;
  padding-left: 5%;
  padding-right: 5%;
  height: 4vw;
  display: flex;
  align-items: center;
}
.header h1{
  color: white;
  margin: 0;
}

.albums-list{
  padding: 5%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.album{
  width: 25%;
  height: 15vw;
  background-color: gainsboro;
  margin-bottom: 3%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.album h2{
  font-size: 2.2vw;
  margin: 0;
}

.Photos-list{
  padding: 5%
}
.photo{
  width:60%;
  margin: auto;
  height: 40vw;
}