* {
  box-sizing: border-box;
}
.header{
  background-color: #282c34;
  padding-left: 5%;
  padding-right: 5%;
  height: 4vw;
  display: flex;
  align-items: center;
}
.header h1{
  color: white;
  margin: 0;
}

.albums-list{
  padding: 5%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.album{
  width: 30%;
  height: 15vw;
  background-color: gainsboro;
  margin-bottom: 3%;
  padding: 2%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.album h2{
  font-size: 2.2vw;
  margin: 0;
}

.Photos-list{
  padding: 5%;
}
.photo{
  width:60%;
  margin: auto;
  height: 40vw;
}





.slider {
  width: 60%;
  text-align: center;
  overflow: hidden;
  margin: auto;
}

.slides {
  display: flex;
  overflow-x: auto;
  margin-bottom: 1vw;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
}
.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  height: 30vw;
  margin-right: 50px;
  border-radius: 10px;
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider > a {
  display: inline-flex;
  margin-top: 0.5vw;
  width: 0.6vw;
  height: 0.6vw;
  color: black;
  background: gainsboro;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0.5em 0.5rem 0;
  position: relative;
}

.slider > a:focus {
  background: tomato;
}

.slider > a:hover {
  background: tomato;
}

.prev{
  width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: antiquewhite;
    position: absolute;
    left: 16vw;
    top: 22vw;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}
.next{
  width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: antiquewhite;
    position: absolute;
    top: 22vw;
    right: 16vw;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}
